$green-700: #01462e;
$green-600: #029261;
$green-500: #00BD7E;
$green-200: #77bca6;

$grey_700: #434343;
$grey-400: #545454;
$grey-300: #cecece;

$blue_900: #111b35;
$blue_800: #131F3D;
$blue_700: #162744;
$blue_600: #162345;
$blue_300: #4DABF5;

$red_700: #be0526;
$red_500: #FF0000;
$red_400: #ff5e5e;
$red_200: #ffaeae;

$pink_500: #ff002f;
$pink_300: #f74464;

$orange_300: #FFA500;
$orange_400: #ff6600;
$orange_500: #ff3700;

$input-transition: box-shadow 0.35s ease;
$input-hover-shadow: 0 0 0 1px white;
$input-focus-shadow: -2px 1px 8px 3px rgba($blue_300, .64);
